# Dados (manter CSV do projeto no repo)
!data/telco_churn.csv

# Modelos (manter modelo treinado no repo)
!models/mlp_churn.pt
models/*.pkl
models/*.joblib

# Python
__pycache__/
*.pyc
.venv/
venv/

# MLflow
mlruns/
mlartifacts/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db